@import "tools/app";

$logoWidth: 45%;


.header{
  width: 100%;
  height: 115px;
  position: relative;
  top: 0;
  left: 0;
}
.header__logo{
  @include flexCenter-lg(65px);
  background-color: #fff;
  box-shadow: 4px 4px 4px rgba(0,0,0, 0.9);
}
.logo--svg{
  width: $logoWidth;
  svg{
    width: 100%;
  }
}

.header__location{
  @include flexCenter-lg(50px);
  background-color: darken(#FFF, 10%);

}

.location__infos{
  @include flexCenter();
  i {
    padding: 10px;
    font-size: 18px;
  }
  h2{
    padding: 10px;
  }
}

// First Section

.container{
  @include centerBlocks();
}

.page-title{
  @include centerBlocks(100%);
  @include textCenter();
  padding: 20px 0 55px 0;
  background-color: #f6f6f6;
}

.page-title__title{
  @include centerBlocks(80%);
  h1{
    padding: 25px;
  }
}

.page-title__catch-phrase{
  @include centerBlocks();
  padding-bottom: 30px;
  font-weight: lighter;
}

@mixin links($color : #000){
  text-decoration: none;
  color: $color;
}

.page-title__cta{
  // width: 60%;
  @include centerBlocks(60%);
  padding: 15px 10px ;
  border-radius: 30px;
  font-size: 14px;
  background: linear-gradient($secondary-color, 45%, rgba($primary-color, 0.8));
  box-shadow: 0px 3px 8px rgba(0,0,0, 0.3);
  a{
    @include links(#FFF);
  }
}

