html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

html {
  font-size: 14px;
}

@media screen and (min-width: 392px) {
  html {
    font-size: 16px;
  }
}

@media screen and (min-width: 450px) {
  html {
    font-size: 18px;
  }
}

@media screen and (min-width: 500px) {
  html {
    font-size: 20px;
  }
}

@media screen and (min-width: 563px) {
  html {
    font-size: 22px;
  }
}

@media screen and (min-width: 617px) {
  html {
    font-size: 24px;
  }
}

@media screen and (min-width: 755px) {
  html {
    font-size: 26px;
  }
}

body {
  height: 100vh;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

h1, h2, h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #000;
}

h1 {
  text-align: center;
  font-size: 22px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
}

.header {
  width: 100%;
  height: 115px;
  position: relative;
  top: 0;
  left: 0;
}

@media screen and (min-width: 392px) {
  .header {
    font-size: 16px;
  }
}

@media screen and (min-width: 450px) {
  .header {
    font-size: 18px;
  }
}

@media screen and (min-width: 500px) {
  .header {
    font-size: 20px;
  }
}

@media screen and (min-width: 563px) {
  .header {
    font-size: 22px;
  }
}

@media screen and (min-width: 617px) {
  .header {
    font-size: 24px;
  }
}

@media screen and (min-width: 755px) {
  .header {
    font-size: 26px;
  }
}

@media screen and (min-width: 450px) {
  .header {
    height: 120px;
  }
}

@media screen and (min-width: 617px) {
  .header {
    height: 150px;
  }
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 65px;
  height: 60%;
  background-color: #fff;
  -webkit-box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.5);
}

.logo--svg {
  width: 45%;
}

.logo--svg svg {
  width: 100%;
}

.header__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50px;
  background-color: #e6e6e6;
}

@media screen and (min-width: 450px) {
  .header__location {
    height: 60px;
  }
}

@media screen and (min-width: 617px) {
  .header__location {
    height: 80px;
  }
}

.location__infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.location__infos i {
  padding: 10px;
  font-size: 18px;
}

.location__infos p {
  padding: 10px;
}

.container {
  width: 90%;
  margin: 0 auto;
  height: optional;
}

@media screen and (min-width: 768px) {
  .container {
    background-color: red;
  }
}

.page-title {
  width: 100%;
  margin: 0 auto;
  height: optional;
  text-align: center;
  padding: 20px 0 55px 0;
  background-color: #f6f6f6;
}

.page-title__title {
  width: 80%;
  margin: 0 auto;
  height: optional;
}

.page-title__title h1 {
  padding: 25px;
}

@media screen and (min-width: 433px) {
  .page-title__title h1 {
    font-size: 24px;
  }
}

@media screen and (min-width: 467px) {
  .page-title__title h1 {
    padding: 25px 35px;
  }
}

@media screen and (min-width: 495px) {
  .page-title__title h1 {
    font-size: 28px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 533px) {
  .page-title__title h1 {
    font-size: 30px;
  }
}

@media screen and (min-width: 593px) {
  .page-title__title h1 {
    font-size: 32px;
  }
}

@media screen and (min-width: 627px) {
  .page-title__title h1 {
    font-size: 36px;
  }
}

@media screen and (min-width: 690px) {
  .page-title__title h1 {
    font-size: 40px;
  }
}

@media screen and (min-width: 755px) {
  .page-title__title h1 {
    font-size: 40px;
    padding: 25px 40px;
  }
}

.page-title__catch-phrase {
  width: 80%;
  margin: 0 auto;
  height: optional;
  padding-bottom: 30px;
  font-weight: lighter;
}

.page-title__cta {
  width: 60%;
  margin: 0 auto;
  height: optional;
  padding: 15px 10px;
  border-radius: 30px;
  font-size: 14px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), color-stop(45%), to(rgba(147, 86, 220, 0.8)));
  background: linear-gradient(#FF79DA, 45%, rgba(147, 86, 220, 0.8));
  -webkit-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
}

@media screen and (min-width: 563px) {
  .page-title__cta {
    padding: 20px 10px;
    border-radius: 35px;
  }
}

@media screen and (min-width: 617px) {
  .page-title__cta {
    width: 55%;
  }
}

.page-title__cta a {
  text-decoration: none;
  color: #FFF;
}

@media screen and (min-width: 392px) {
  .page-title__cta a {
    font-size: 16px;
  }
}

@media screen and (min-width: 450px) {
  .page-title__cta a {
    font-size: 18px;
  }
}

@media screen and (min-width: 500px) {
  .page-title__cta a {
    font-size: 20px;
  }
}

@media screen and (min-width: 563px) {
  .page-title__cta a {
    font-size: 22px;
  }
}

@media screen and (min-width: 617px) {
  .page-title__cta a {
    font-size: 24px;
  }
}

@media screen and (min-width: 755px) {
  .page-title__cta a {
    font-size: 26px;
  }
}
/*# sourceMappingURL=accueil.css.map */