@import "tools/app";

$logoWidth: 45%;


.header{
  width: 100%;
  height: 115px;
  position: relative;
  top: 0;
  left: 0;
  @include respFontFrom14();
  @include headerMedias();

}

.header__logo{
  @include flexCenter-lg(65px);
  height: 60%;
  background-color: #fff;
  box-shadow: 0px 6px 8px rgba(0,0,0, 0.5);

  @include headerLogoMedias();

}
.logo--svg{
  width: $logoWidth;
  @include logoSvgMedias();
  svg{
    width: 100%;
  }
}

.header__location{
  @include flexCenter-lg(50px);
  background-color: darken(#FFF, 10%);

  @include headerLocationMedias();  

}

.location__infos{
  @include flexCenter();
  i {
    padding: 10px;
    font-size: 18px;
  }
  p{
    padding: 10px;
    
  }
}


// Titres

.container{
  @include centerBlocks();
}

.page-title{
  @include centerBlocks(100%);
  @include textCenter();
  padding: 20px 0 55px 0;
  background-color: #f6f6f6;
  
}

.page-title__title{
  @include centerBlocks(80%);
  h1{
    padding: 25px;
    @include h1Medias();
  }
}

.page-title__catch-phrase{
  @include centerBlocks(80%);
  padding-bottom: 30px;
  font-weight: lighter;

  @include catchPhraseMedias();

}

.page-title__cta{
  @include centerBlocks(60%);
  padding: 15px 10px ;
  border-radius: 30px;
  font-size: 14px;
  background: linear-gradient($secondary-color, 45%, rgba($primary-color, 0.8));
  box-shadow: 0px 3px 8px rgba(0,0,0, 0.3);

  @include ctaMedias();

  a{
    @include links(#FFF);
    @include respFontFrom14();

    @media screen and(min-width: 1399px) {
      @include textBtn();
    }
  }

}


// Fonctionnement

.fonctionnement{
  padding: 25px 0;
}

.section-title{
  @include titles();
  padding: 25px 0;
  @include respFontFrom18();

}

.fonctionnement__actions{

}

.action-list{
  width: 100%;
}

.action-list__item{
  width: 100%;
  padding: 30px 0;
  border-radius: 30px;
  background-color: #f6f6f6;
  box-shadow: 0px 4px 6px rgba(#000, 0.3);
  margin-bottom: 25px;
  &:hover{
    background-color: $listItemHover;
     a > div > i{
      color: $primary-color;
    }
  }
}

.action-list__link{
  @include flexCenter-lg();
  @include links();
  position: relative;
  height: 100%;


  .link-id{
    position: absolute;
    left: 0;
    transform: translateX(-50%);
    @include flexCenter();
    @include rounded(30px, 30px);
    background-color: $primary-color;
    color: white;

  }
  .link-content{
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: 500;

    i{
      font-size: 18px;
      padding: 0px 15px;
      color: #7e7e7e;
    }
    p{
      padding: 0px 15px;
      @include respFontFrom14();
    }
  }
}