@mixin h1Medias() {
    @media screen and(min-width: 433px) {
        font-size: 24px;
      }
      @media screen and(min-width: 467px) {
        padding: 25px 35px;
      }
      @media screen and(min-width: 498px) {
        font-size: 28px;
        margin: 0 auto;
      }
      @media screen and(min-width:533px) {
        font-size: 30px;
      }
      @media screen and(min-width: 550px) {
        padding: 25px 30px;
      }
      @media screen and(min-width:593px) {
        font-size: 32px;
      }
      @media screen and(min-width:627px) {
        font-size: 36px;
        padding: 25px 25px;
      }
      @media screen and(min-width:690px) {
        font-size: 40px;
      }
      @media screen and(min-width:755px) {
        padding: 25px 40px;
      }
      @media screen and(min-width:768px){
        padding: 25px 35px;
      }
      @media screen and(min-width: 850px) {
        padding: 25px 70px;
      }
      @media screen and(min-width:992px){
        font-size: 44px;
      }
      @media screen and(min-width:1017px){
        padding: 25px 80px;
      }
      @media screen and(min-width:1110px){
        padding: 25px 120px;
      }
      @media screen and(min-width:1200px){
        padding: 25px 150px;
      }
      @media screen and(min-width:1330px){
        padding: 25px 190px;
      }
      @media screen and(min-width:1469px){
        padding: 25px 220px;
      }
      @media screen and(min-width:1562px){
        padding: 25px 270px;
      }
      @media screen and(min-width:1672px){
        padding: 25px 300px;
      }
      @media screen and(min-width:1826px){
        padding: 25px 340px;
      }
}

@mixin catchPhraseMedias(){
    @media screen and(min-width:714px){
      width: 70%;
    }
    @media screen and(min-width:940px){
      width: 65%;
    }
    @media screen and(min-width:1015px){
      width: 60%;
    }
    @media screen and(min-width:1097px){
      width: 55%;
    }
    @media screen and(min-width:1197px){
      //width: 51%;
    }
    @media screen and(min-width:1197px){
      font-size: 28px;
      //width: 45%;
    }
    @media screen and(min-width:1575px){
      width: 35%;
    }
}

@mixin ctaMedias(){
    @media screen and(min-width:563px) {
        padding: 20px 10px ;
        border-radius: 35px;
      }
      @media screen and(min-width:617px) {
        width: 55%;
      }
      @media screen and(min-width:682px) {
        width: 50%;
      }
      @media screen and(min-width:820px) {
        //width: 45%;
      }
      @media screen and(min-width:860px) {
        width: 46%;
      }
      @media screen and(min-width:972px) {
        width: 42%;
      }
      @media screen and(min-width:1154px) {
        width: 35%;
      }
      @media screen and(min-width:1254px) {
        width: 33%;
      }
      @media screen and(min-width:1316px) {
        width: 31%;
      }
      @media screen and(min-width:1400px) {
        width: 29%;
      }
      @media screen and(min-width:1460px) {
        width: 27%;
      }
      @media screen and(min-width:1650px) {
        width: 25%;
      }
      @media screen and(min-width:1710px) {
        width: 24%;
      }
      @media screen and(min-width:1780px) {
        width: 23%;
      }
      
}

@mixin headerLocationMedias(){

    @media screen and(min-width:450px) {
        height: 60px;
      }
      @media screen and(min-width:617px) {
        height: 80px;
      }
      @media screen and(min-width:768px) {
    
       height: 100%;
      font-size: 18px;
      justify-content: flex-end;
       padding: 0 25px;
       background-color: transparent; 
      }
    @media screen and(min-width:992px) {

        font-size: 20px;
    }
}

@mixin logoSvgMedias(){
    @media screen and(min-width:992px) {

        width: 35%;
      }
      @media screen and(min-width:1250px) {
        width: 30%;
      }
      @media screen and(min-width:1600px) {
        width: 25%;
      }
}

@mixin headerLogoMedias(){
    @media screen and(min-width:768px) {
        height: 100%;
        background-color: transparent;
        box-shadow: none;
        justify-content: flex-start;
        padding: 0 25px;
      }
}

@mixin headerMedias() {
    @media screen and(min-width:450px) {
        height: 120px;
    }
    @media screen and(min-width:617px) {
      height: 150px;
    }
    @media screen and(min-width:768px) {
      display: flex;
      height: 80px;
    }
    @media screen and(min-width:992px) {
      height: 100px;
    }

}