@mixin h1Medias() {
    @media screen and(min-width: 433px) {
        font-size: 24px;
      }
      @media screen and(min-width: 467px) {
        padding: 25px 35px;
      }
      @media screen and(min-width: 495px) {
        font-size: 28px;
        margin: 0 auto;
      }
      @media screen and(min-width:533px) {
        font-size: 30px;
      }
      @media screen and(min-width:593px) {
        font-size: 32px;
      }
      @media screen and(min-width:627px) {
        font-size: 36px;
      }
      @media screen and(min-width:690px) {
        font-size: 40px;
      }
      @media screen and(min-width:755px) {
        padding: 25px 40px;
      }
      @media screen and(min-width:768px){
        padding: 25px 35px;
      }
      @media screen and(min-width:986px){
        padding: 25px 50px;
      }
      @media screen and(min-width:992px){
        font-size: 44px;
      }
      @media screen and(min-width:1017px){
        padding: 25px 80px;
      }
      @media screen and(min-width:1200px){
        padding: 25px 170px;
      }
      @media screen and(min-width:1450px){
        padding: 25px 250px;
      }
  
      @media screen and(min-width:1672px){
        padding: 25px 335px;
      }
}

@mixin catchPhraseMedias(){
    @media screen and(min-width:825px){
        width: 70%;
      }
      @media screen and(min-width:940px){
        width: 65%;
      }
      @media screen and(min-width:1015px){
        width: 60%;
      }
      @media screen and(min-width:1097px){
        width: 55%;
      }
      @media screen and(min-width:1197px){
        width: 50%;
      }
      @media screen and(min-width:1197px){
        font-size: 28px;
        width: 45%;
      }
      @media screen and(min-width:1575px){
        width: 35%;
      }
}

@mixin ctaMedias(){
    @media screen and(min-width:563px) {
        padding: 20px 10px ;
        border-radius: 35px;
      }
      @media screen and(min-width:617px) {
        width: 55%;
      }
      @media screen and(min-width:682px) {
        width: 50%;
      }
      @media screen and(min-width:820px) {
        width: 45%;
      }
      @media screen and(min-width:860px) {
        width: 40%;
      }
      @media screen and(min-width:972px) {
        width: 35%;
      }
      @media screen and(min-width:1154px) {
        width: 30%;
      }
      @media screen and(min-width:1254px) {
        width: 27%;
      }
      @media screen and(min-width:1400px) {
        width: 25%;
      }
      @media screen and(min-width:1460px) {
        width: 23%;
      }
      @media screen and(min-width:1650px) {
        width: 22%;
      }
      @media screen and(min-width:1710px) {
        width: 21%;
      }
      @media screen and(min-width:1780px) {
        width: 20%;
      }
      
}

@mixin headerLocationMedias(){
    @media screen and(min-width:450px) {
        height: 60px;
      }
      @media screen and(min-width:617px) {
        height: 80px;
      }
      @media screen and(min-width:768px) {
    
       height: 100%;
       font-size: 16px;
       justify-content: flex-end;
       padding: 0 25px;
       background-color: transparent; 
      }
}

@mixin logoSvgMedias(){
    @media screen and(min-width:992px) {
        $logoWidth: 35%;
        width: $logoWidth;
      }
      @media screen and(min-width:1250px) {
        $logoWidth: 30%;
        width: $logoWidth;
      }
      @media screen and(min-width:1600px) {
        $logoWidth: 25%;
        width: $logoWidth;
      }
}

@mixin headerLogoMedias(){
    @media screen and(min-width:768px) {
        height: 100%;
        background-color: transparent;
        box-shadow: none;
        justify-content: flex-start;
        padding: 0 25px;
      }
}

@mixin headerMedias() {
    @media screen and(min-width:450px) {
        height: 120px;
      }
      @media screen and(min-width:617px) {
        height: 150px;
      }
      @media screen and(min-width:768px) {
        display: flex; 
        height: 80px;
      }
      @media screen and(min-width:1550px) {
        height: 100px;
      }
}