@mixin fWidth($width: 100%){
  width: $width;
}
@mixin flexCenter(){
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flexCenter-lg($height: 100%){
  @include flexCenter();
  width: 100%;
  height: $height;
}

@mixin centerBlocks($width : 90%, $height:optional){
  width: $width;
  margin: 0 auto;
  @if($height){
    height: $height;
  }
}

@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}