@mixin titles($fontFamily : 'Roboto'){

  font-family: $fontFamily, sans-serif;
  font-weight: 500;
  color: #000;
}

@mixin textCenter() {
  text-align: center;
}

@mixin links($color : #000){
  text-decoration: none;
  color: $color;
}

@mixin respFontFrom14(){
  @media screen and(min-width: 392px) {
      font-size: 16px;
  }
  @media screen and(min-width:450px) {
      font-size: 18px;
  }
  @media screen and(min-width:500px) {
      font-size: 20px;
  }
  @media screen and(min-width:563px) {
      font-size: 22px;
  }
  @media screen and(min-width:617px) {
      font-size: 24px;
  }
  @media screen and(min-width:755px) {
      font-size: 26px;
  }
}