@import "reset";
@import "fonts";
@import "variables";
@import "mixins";
@import "functions";

html{
    font-size: 14px;
    @media screen and(min-width: 392px) {
        font-size: 16px;
      }
      @media screen and(min-width:450px) {
        font-size: 18px;
      }
      @media screen and(min-width:500px) {
        font-size: 20px;
      }
      @media screen and(min-width:563px) {
        font-size: 22px;
      }
      @media screen and(min-width:617px) {
        font-size: 24px;
      }
      @media screen and(min-width:755px) {
        font-size: 26px;
      }
}
body{
    height: 100vh;
    width: 100%;
    font-family: $font;

}

h1, h2, h3{
    @include titles();
}

h1{
    @include textCenter();
    font-size: 22px;
}

h2{
    font-size: 18px;
  
}

h3{
    font-size: 16px;
}

.upperCase{
  text-transform: capitalize;
}