@import "reset";
@import "fonts";
@import "variables";
@import "mixins";
@import "functions";

body{
    height: 100vh;
    width: 100%;
    font-family: $font;
    font-size: 14px
}

h1, h2, h3{
    @include titles();
}

h1{
    @include textCenter();
    font-size: 22px;
}

h2{
    font-size: 18px;
}

h3{
    font-size: 16px;
}