.action-list{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  @media screen and (min-width: 768px) {
    width: 85%;
    align-items: flex-start;
  }
  @media screen and (min-width: 790px) {
    width: 80%;
  }
  @media screen and (min-width: 820px) {
    width: 77%;
  }
  @media screen and (min-width: 850px) {
    width: 75%;
  }
  @media screen and (min-width: 880px) {
    width: 72%;
  }
  @media screen and (min-width: 930px) {
    width: 70%;
  }
  @media screen and (min-width: 960px) {
    width: 66%;
  }
}