.restaurants-gridList{
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4,255px);
  grid-row-gap: 20px;
  @media screen and (min-width: 460px){
    margin: 0 auto;
    grid-row-gap: 30px;
  }
  @media screen and (min-width: 460px){
    grid-template-rows: repeat(4,280px);
  }

  @media screen and (min-width: 500px){
    grid-template-rows: repeat(4,290px);
  }

  @media screen and (min-width: 590px) {
    grid-template-rows: repeat(4,320px);
    grid-row-gap: 50px;
  }

  @media screen and (min-width: 617px) {
    grid-template-rows: repeat(4,330px);
  }

  @media screen and (min-width: 680px){
    grid-template-rows: repeat(4,350px);
  }
  @media screen and (min-width: 768px){
    grid-template-rows: repeat(4,400px);
    //grid-row-gap: 60px;

  }
  @media screen and (min-width: 830px){
    grid-template-rows: repeat(4,430px);
    //grid-row-gap: 60px;

  }
  @media screen and (min-width: 930px){
    grid-template-rows: repeat(4,460px);
    //grid-row-gap: 60px;

  }

  // Tablette
  @media screen and (min-width: 992px){
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2,270px);
    grid-gap: 30px;
  }
  @media screen and (min-width: 1092px){
    grid-template-rows: repeat(2,300px);
  }
  @media screen and (min-width: 1180px){
    grid-gap: 40px;
  }
  @media screen and (min-width: 1240px){
    grid-template-rows: repeat(2,320px);
  }
  @media screen and (min-width: 1375px){
    grid-template-rows: repeat(2,350px);
  }
  @media screen and (min-width: 1418px){
    // grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,400px);

  }
  @media screen and (min-width: 1760px){
    grid-template-rows: repeat(2,450px);

  }


}