.header{
  width: 100%;
  height: 115px;
  position: relative;
  top: 0;
  left: 0;
  @include respFontFrom14();
  @include headerMedias();
  box-shadow: 0px 0px 10px rgba(#000, 0.3);
}

.header__logo{
  @include flexCenter-lg(65px);
  height: 60%;
  background-color: #FFFFFF;
  z-index: 20;

  @include headerLogoMedias();

}