.header{
  width: 100%;
  height: 115px;
  position: relative;
  top: 0;
  left: 0;
  @include respFontFrom14();
  @include headerMedias();

}

.header__logo{
  @include flexCenter-lg(65px);
  height: 60%;
  background-color: #fff;
  box-shadow: 1px 0px 4px rgba(0, 0, 0, 1);
  z-index: 20;
  @include headerLogoMedias();

}