@import "./../app";
.header{
  max-height: 80px;
  @media screen and (min-width: 768px) {
    max-height: 100px;
    @include flexCenter();
  }
  @media screen and(min-width:992px) {
    height: 100px;
  }
}
.header__icon{
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  @include links();
  i{
    font-size: 18px;
    @media screen and (min-width: 992px){
      font-size: 28px;
    }
  }
}
.header__logo{
  box-shadow: none;
  height: 100%;
  @media screen and (min-width: 768px) {
    max-width: 500px;
    @include flexCenter-lg(100%);
  }
  @media screen and (min-width: 992px) {
    max-width: 750px;
    @include flexCenter-lg(100%);
  }

}

.menu{
  position: relative;
  top: -50px;
  border-radius: 30px 30px 0 0;
  background-color: #f6f6f6;
  @media screen and (min-width: 768px) {
    border-radius: 40px 40px 0 0;
    padding: 3vw 0;

  }
}
.menu-banner-img{
  height: 58vw;
  max-height: 600px;
  width: 100%;
  background:url('./../../images/restaurants2/jay-wennington-N_Y88TWmGwA-unsplash.jpg') 0px 75% / cover no-repeat;
}

.menu-container{
  width: 85%;
  margin: 0 auto;

}
.restaurant-title{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  .title{
    font-size: 24px;
    padding: 30px 0;
    font-family: 'Shrikhand';
    text-align: left;

    @media screen and(min-width:450px){
      font-size: 26px;
      padding: 32px 0;
    }
    @media screen and(min-width:500px) {
      font-size: 28px;
      padding: 35px 0;

    }
    @media screen and(min-width:768px) {
    font-size: 3.5vw;
      padding: 3vw 0;
    }
  }
  i{
    font-size: 24px;
    @media screen and(min-width:768px) {
      font-size: 3vw;
    }
  }
}

.menu__listLayout{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.menu-group{
  width: 100%;
  padding: 15px 0;
  @media screen and(min-width:768px) {
    margin-bottom: 3vw;
  }

}

.menu-group__title {
  position: relative;
  margin-bottom: 20px;
  @media screen and (min-width: 450px) {
    margin-bottom: 25px;
  }
  @media screen and (min-width: 575px) {
    margin-bottom: 35px;
  }

  .title{
    font-weight: lighter;
    @include respH3();
    @media screen and(min-width:992px) {
      font-size: 24px;
    }

    &::after {
      content: '';
      position: absolute;
      height: 3px;
      width: 40px;
      bottom: -5px;
      left: 0;
      @include bgColor-third;
      @media screen and (min-width: 575px) {
        bottom: -8px;
      }
    }
  }

}

.menu-items{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 70px);
  grid-row-gap: 15px;

  @media screen and(min-width:450px) {
    grid-template-rows: repeat(3, 85px);
    grid-row-gap: 20px;

  }
  @media screen and(min-width:500px) {
    grid-template-rows: repeat(3, 85px);
  }
  @media screen and (min-width: 575px) {
    grid-template-rows: repeat(3, 90px);
    grid-row-gap: 25px;
  }
  @media screen and (min-width: 680px) {
    grid-template-rows: repeat(3, 100px);
    grid-row-gap: 30px;
  }
  @media screen and (min-width: 992px) {
    grid-template-rows: repeat(3, 120px);
    grid-row-gap: 2.5vw;
  }
}

.menu-item{
  height: 100%;
  background-color: #fff;
  border-radius: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  overflow: hidden;
  animation-name:getPosition, appears;
  animation-timing-function:  ease-in-out;
  animation-iteration-count: 1;
  &:nth-child(1){
    animation-delay: 0s, 0.15s;
    animation-duration: 0.15s, 0.5s;

  }
  &:nth-child(2){
    animation-delay: 0s, 0.3s;
    animation-duration: 0.3s, 0.5s;

  }
  &:nth-child(3){
    animation-delay: 0s, 0.45s;
    animation-duration: 0.45s, 0.5s;

  }
  cursor: pointer;
  @include box-shadow;
  &:hover{
    .item__price{
      animation: 2s ease-in-out 1 animFollowMobile;
      @media screen and (min-width: 475px) {
      animation: 2s ease-in-out 1 animFollowMobile1;
      }
      @media screen and (min-width: 680px) {
      animation: 2s ease-in-out 1 animFollowMobile2;
      }
      @media screen and (min-width: 768px) {
      animation: 2s ease-in-out 1 animFollowMobile3;
      }
    }

    .check-animation{

      animation: 2s ease-in-out 1 checkAnimation;
      i{
          animation: 0.5s ease-in 1 spin;
      }


    }
    /* &:before{

      font-family: "Font Awesome 5 Free";
      content: '\f058';
      color: white;
      font-size: 28px;
      position: absolute;
      right: -20%;
      top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 100%;
      height: 100%;
      width: 20%;
      border-radius: 0 20px 20px 0;
      animation: 1.3s ease-in-out 1 animCheck;
      @include bgColor-third;

    }
    */
  }
  @media screen and(min-width:450px) {
    border-radius: 25px;
    padding: 0 25px;
  }
  @media screen and(min-width:575px) {
    padding: 0 30px;
  }
  @media screen and(min-width:680px) {
    padding: 0 35px;
  }
  .item__title{
    padding-bottom: 5px;
    @include respH3();
  }
  .item__content{
    display: flex;
    font-size: 16px;
    width: 100%;
    justify-content: space-between;
    font-weight: lighter;
  }
  .item__price{
    font-weight: 500;
  }
  .check-animation{
    position: absolute;
    left: 100%;
    width: 75px;
    height: 100%;
    transform: translateX(0%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 0px 20px 20px 0;
    @media screen and (min-width: 475px) {
      width: 90px;
    }
    @media screen and (min-width: 680px) {
      width: 100px;
    }
    @media screen and (min-width: 768px) {
      width: 110px;
    }
    @include bgColor-third;
    i{
      font-size: 24px;
    }


  }

}

@keyframes appears {

  0%{
    transform: translateY(15px);
    opacity: 0%;

  }
  100%{
    transform: translateY(0);
    opacity: 100%;
  }

}
@keyframes getPosition {

  0%{
    transform: translateY(15px);
    opacity: 0%;
  }
  100%{
    transform: translateY(15px);
    opacity: 0%;

  }

}


.cta{
  margin: 40px auto 70px auto;
}

.footer {
  position: relative;
  top: -50px;
}
