@import "./../app";
.header{
  max-height: 70px;
}
.header__icon{
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  @include links();
  i{
    font-size: 18px;
  }
}
.header__logo{
  box-shadow: none;
  height: 100%;
}

.menu{
  position: relative;
  top: -50px;
  border-radius: 30px 30px 0 0;
  background-color: #f6f6f6;
}
.menu-banner-img{
  height: 220px;
  width: 100%;
  background:url('./../../images/restaurants2/toa-heftiba-DQKerTsQwi0-unsplash.jpg ') center / cover no-repeat;
}

.menu-container{
  width: 85%;
  margin: 0 auto;

}
.restaurant-title{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  .title{
    font-size: 24px;
    padding: 30px 0;
    font-family: 'Shrikhand';
    text-align: left;
  }
  i{
    font-size: 24px;
  }
}

.menu__listLayout{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 40px;
}

.menu-group{
  width: 100%;
  padding: 15px 0;
}

.menu-group__title {
  position: relative;
  margin-bottom: 20px;
  .title{
    font-weight: lighter;
    &::after {
      content: '';
      position: absolute;
      height: 2px;
      width: 40px;
      bottom: -4px;
      left: 0;
      @include bgColor-third;
    }
  }

}

.menu-group__items{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 70px);
  grid-row-gap: 15px;
}

.menu-group__item{
  background-color: #fff;
  border-radius: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  @include box-shadow;
  &:hover > .check-animation{
    animation: 1.5s linear 1 animCheck;
  }
  .item__title{
    padding-bottom: 5px;
  }
  .item__content{
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-weight: lighter;
  }
  .item__price{
    font-weight: 500;
  }
  .check-animation{
    position: absolute;
    left: 100%;
    width: 20%;
    height: 100%;
    transform: translateX(0%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    opacity: 0;
    border-radius: 0px 20px 20px 0;
    @include bgColor-third;

  }
}

@keyframes animCheck {
  0%{
    transform: translateX(0%);
  }
  10%{
    opacity: 100%;
  }
  20%{
    transform: translateX(-100%);
    opacity: 100%;
  }
  70%{
    transform: translateX(-100%);
    opacity: 100%;
  }
  99%{
    opacity: 0;
    transform: translateX(-100%);
  }
}
