.action-list__item{
  @include flexCenter-lg();
  @include links();
  width: 95%;
  position: relative;
  height: 100%;
  padding: 30px 0;
  border-radius: 30px;
  background-color: #f6f6f6;
  @include box-shadow();
  margin-bottom: 25px;
  @media screen and (min-width: 768px) {
    margin-bottom: 50px;
    padding: 35px 0;
    border-radius: 35px;
  }
  &:hover{
    background-color: $listItemHover;
    div > i{
      color: $primary-color;
    }
  }

  .list-content {
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: 500;

    i {
      font-size: 18px;
      padding: 0px 15px;
      color: #7e7e7e;
      @media screen and (min-width: 992px) {
        font-size: 24px;
      }
      @media screen and (min-width: 992px) {
        font-size: 28px;
      }
    }

    p {
      padding: 0px 15px;
      @include respFontFrom14();
    }
  }

}