.loader{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    z-index: 1000;
    opacity: 0;
    animation: fade-out 3s ease-out 1;
  }
  
  .spinner-loader{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 130px;
    height: 130px;
    border: 5px solid transparent;
    border-top-color: $third-color;
    border-radius: 50%;
    opacity: 0%;
    animation: spin 3s linear infinite;
    -webkit-animation: spinLoader 3s ease-in-out 1;
  
}