.new-badge{

  @include flexCenter();
  height: 38px;
  padding: 10px 14px;
  border-radius: 3px;
  background-color: $third-color;
  position: relative;
  top: 15px;
  right: 3%;

  .badge-text{
    color: darken($third-color, 40%);
  }

}

.badge-text{
  font-weight: 500;
}