.restaurant-card{
  width: 100%;
  background-color: #FFF;
  border-radius: 20px;
  overflow: hidden;
  @include box-shadow();
  @media screen and (min-width: 1375px){
    max-height: 350px;
    position: relative;
    top: 0;
  }

  .restaurant__image{
    height: 175px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-position: center;
    background-size:  cover;
    background-repeat: no-repeat;
    @media screen and (min-width: 460px){
      height: 200px;
    }
    @media screen and (min-width: 590px){
      height: 230px;
    }
    @media screen and (min-width: 680px){
      height: 250px;
    }
    @media screen and (min-width: 768px){
      height: 285px;
    }
    @media screen and (min-width: 830px){
      height: 310px;
    }
    @media screen and (min-width: 930px){
      height: 330px;
    }
    @media screen and (min-width: 992px){
      height: 190px;
    }
    @media screen and (min-width: 1092px){
      height: 210px;
    }
    @media screen and (min-width: 1240px){
      height: 225px;
    }
    @media screen and (min-width: 1375px){
      height: 250px;
    }
  }


  .restaurant__content {
    position: relative;
    width: 100%;
    padding: 15px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: lighter;
    @include respFontFrom12();


    h3 {
      padding-bottom: 5px;
      @include respFontFrom12();

    }

    @media screen and (min-width: 550px) {
      padding: 15px 25px;
    }
    @media screen and (min-width: 768px) {
      padding: 20px 25px;
    }
    @media screen and (min-width: 830px) {
      padding: 20px 30px;
    }
    @media screen and (min-width: 930px) {
      padding: 25px 30px;
    }
    @media screen and (min-width: 992px) {
      padding: 10px 20px;
      max-height: 100px;
    }
    @media screen and (min-width: 1092px) {
      padding: 14px 20px;
    }
    @media screen and (min-width: 1240px) {
      padding: 17px 20px;
    }
    @media screen and (min-width: 1375px) {
      padding: 22px 22px;
    }
  }

  .restaurant__item-icon{
    i{
      @include respFontFrom18();
      @media screen and (min-width: 992px) {
        font-size: 24px;
      }
    }
  }


}