.restaurant-card{
  width: 100%;
  background-color: #FFF;
  border-radius: 20px;
  overflow: hidden;
  @include box-shadow();
  @media screen and (min-width: 1375px){
    max-height: 350px;
    position: relative;
    top: 0;
  }
  @media screen and (min-width: 1418px){
    max-height: 400px;
    position: relative;
    top: 0;
  }

  .restaurant__image{
    height: 175px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-position: center;
    background-size:  cover;
    background-repeat: no-repeat;
    @media screen and (min-width: 460px){
      height: 200px;
    }
    @media screen and (min-width: 590px){
      height: 230px;
    }
    @media screen and (min-width: 680px){
      height: 250px;
    }
    @media screen and (min-width: 768px){
      height: 285px;
    }
    @media screen and (min-width: 830px){
      height: 310px;
    }
    @media screen and (min-width: 930px){
      height: 330px;
    }
    @media screen and (min-width: 992px){
      height: 190px;
    }
    @media screen and (min-width: 1092px){
      height: 210px;
    }
    @media screen and (min-width: 1240px){
      height: 225px;
    }
    @media screen and (min-width: 1375px){
      height: 250px;
    }
    @media screen and (min-width: 1418px){
      height: 290px;
    }
  }


  .restaurant__content {
    position: relative;
    width: 100%;
    padding: 15px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: lighter;
    @include respFontFrom12();


    h3 {
      padding-bottom: 5px;
      @include respFontFrom12();

    }

    @media screen and (min-width: 550px) {
      padding: 15px 25px;
    }
    @media screen and (min-width: 768px) {
      padding: 20px 25px;
    }
    @media screen and (min-width: 830px) {
      padding: 20px 30px;
    }
    @media screen and (min-width: 930px) {
      padding: 25px 30px;
    }
    @media screen and (min-width: 992px) {
      padding: 10px 20px;
      max-height: 100px;
    }
    @media screen and (min-width: 1092px) {
      padding: 14px 20px;
    }
    @media screen and (min-width: 1240px) {
      padding: 17px 20px;
    }
    @media screen and (min-width: 1375px) {
      padding: 22px 22px;
    }
    @media screen and (min-width: 1418px){
      padding: 25px 30px;

    }
  }

  .restaurant__item-icon{
    position: relative;
    right: 10px;

    .heart-1 {
      @include center();
      width: 24px; 
      height: 24px; 
      background: transparent; 
      clip-path: path("M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z");
      overflow: hidden;
      z-index: 1;
    
      .animation-icon{
          width: 24px; 
          height: 24px;
          background: linear-gradient(lighten($secondary-color, 2%), 45%, lighten(rgba($primary-color, 0.8),2%) );
          transform: translateY(100%);
          
      }
      &:hover{
        .animation-icon{
            animation: fillIcon 1s ease-in-out 1;
        }
      }
    
    }
    // Outlined
    .heart-2 {
      @include center();
      width: 24px; 
      height: 24px; 
      background: #000; 
      clip-path: path("M12 21.593c-5.63-5.539-11-10.297-11-14.402 0-3.791 3.068-5.191 5.281-5.191 1.312 0 4.151.501 5.719 4.457 1.59-3.968 4.464-4.447 5.726-4.447 2.54 0 5.274 1.621 5.274 5.181 0 4.069-5.136 8.625-11 14.402m5.726-20.583c-2.203 0-4.446 1.042-5.726 3.238-1.285-2.206-3.522-3.248-5.719-3.248-3.183 0-6.281 2.187-6.281 6.191 0 4.661 5.571 9.429 12 15.809 6.43-6.38 12-11.148 12-15.809 0-4.011-3.095-6.181-6.274-6.181");
      overflow: hidden;
      z-index: 2;
    }
  }

}